html, body{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:inherit;
}
ul{
    padding: 0;
}
body{
    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
ul li{
    list-style: none;
}
header{
    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding: 5px 0;
    margin:0;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2);
    z-index: 100;
}
header > section{
    display: inline-block;
    max-width: 40%;
    width: 40%;
    text-align: center;
    vertical-align: middle;
}
header  section:nth-child(1){
    width: 15%;
    max-width: 15%;
}
header  section:nth-child(2){
    width: 25%;
    max-width: 25%;
}
header  section:nth-child(3){
    width: 59%;
    max-width: 59%;
}
header h1{
    font-size: 40px;
    font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
    padding: 0;
}
header ul li{
    list-style: none;
    margin: 7px 0;
    display: inline-block;
}
header p{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
}
header img.icono-perfil{
    width: 50px;
    border-radius: 50%;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
    margin-right: 20px;
}
header .user a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.login-fijo{
    text-align: right;
    margin-right: 50px;
}
.login-fijo input[type="text"], .login-fijo input[type="email"], .login-fijo input[type="password"]{
    padding: 8px 10px;
    width: 150px;
    color: #555;
}
.user-small{
    display: none;
}
button[type="submit"]{
    padding: 8px 10px;
    display: block;
    cursor: pointer;
}
.portada{
    background-image: url("../images/portada.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 0;
}
.portada h1{
    color:white;
    font-size: 40px;
    padding:20% 20%;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
.great{
    font-size: 48px;
    font-family: sans-serif;
}
.sec-portada{
    margin:0;
    padding:0;
    display: inline-block;
    vertical-align: middle;
}
.sec-portada:nth-child(1){
    width: 60%;
    max-width: 60%;
}
.sec-portada:nth-child(2){
    width: 38%;
    max-width: 38%;
    margin-top: -70px;
}
.form-registro > label, .form-registro > input{
    display: block;
    margin: 5px 0;
    display: block;
    max-width: 100%;
}
.form-registro > label{
    font-weight: bold;
}
.form-registro{
    width: 80%;
    margin: auto;
    vertical-align: middle;
}
.sec-portada h2{
    font-size: 24px;
    font-weight: 200;
    padding-bottom: 20px;
    text-align: center;
    font-family: sans-serif;
}
.form-registro input[type="text"], .form-registro input[type="email"], .form-registro input[type="password"]{
    padding: 5px 10px;
    width: 100%;
    color: #555;
}
.miboton{
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
    padding: 10px 20px;
    border-radius: 28px;
    font-size: 18px;
    border: 0;
    color: white;
    opacity: 1;
    margin: auto;
    margin-top: 20px;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #76b852 , #8DC26F); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #76b852 , #8DC26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.miboton:active{
    box-shadow: 0px 0px 0px 0px;
}
.miboton-login{
    padding: 8px 12px;
    font-size: 18px;
}
.form-registro button:hover{
    opacity: 0.7;
}
section.contenido{
    background-color: #EEE;
}
.error-login{
    margin-left: 40%;
    color: salmon;
}
.error-registro{
    text-align: center;
    color: salmon;
    margin:auto;
    padding-top: 30px;
}

/******************* PORTADA ***************/
.content{
    padding:0;
    overflow: hidden;
    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari */
}
nav{
    color: #485563;
    background-color: #EEE;
    margin:0;
    padding:10px;
}
nav ul{
    text-align: center;
    margin:0;
}
nav li{
    list-style: none;
    display: inline-block;
    padding: 15px 0;
    margin: 0 30px;
    border-bottom: 1px solid #CCC;
}
nav a{
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}
.users{
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 50px;
}
.info-perfil{
    color: salmon;
    font-size: 1.2em;
    font-weight: bold;
}
.users ul{
    text-align: center;
    padding: 0;
    margin: auto;
}
.users ul li{
    display: inline-block;
    margin: 10px 30px;
}
.users ul li img, .info-user-entradas img, .users-activos img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
}

.entradas, .contenido-izquierda{
    overflow: auto;
    padding-bottom: 20px;
    border-top: 1px solid #AAA;
    text-align: center;
    width: 85%;
    float: left;
    background-color: rgba(200,200,200,0.9);
}
.entradas > h1 {
    color: #333;
    font-weight: 200;
    font-size: 36px;
    margin-left: 100px;
}
.entradas article{
    text-align: left;
    width: 400px;
    padding: 30px;
    display: inline-block;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.1);
    margin: 20px 20px;
    background-color: #EEE;
}
.entradas article p.tiempo{
    color: cornflowerblue;
}
.entradas article img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.entradas article p{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: #555;
    font-weight: 100;
    font-size: 1.1em;
}
.entradas .user-name{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.entradas .info-user-entradas{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.entrada-completa article{
    width: 90%;
    background-color: white;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 2px 3px rgba(0,0,0,0.1);
}
.entrada-completa h1{
    font-size: 3rem;
    font-weight: 200;
    color: #FFA07A;
    margin-bottom: 10px;
}
.entrada-completa p{
    font-size: 1.3rem;
}
.entrada-completa .info-user-entradas{
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    margin:-10px;
}
.entrada-completa .info-user-entradas img, .entrada-completa .info-user-entradas p{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.8em;
}
.entrada-completa .user-name{
    margin-left: 3%;
}
.p-contenido{
    margin: 0 50px;
    margin-bottom: 50px;
    color: #888;
}
.entrada-completa .tiempo{
    float: none;
    font-size: 1.2em !important;
    margin-left: 10%;
    color: #6495ED;
}
.imagen-entrada{
    margin: 10px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}
.tiempo{
    float: right;
    margin-right: 20px;
}
.flechas img{
    margin: 30px 20%;
}
.flecha{
    width: 50px;
}
.flecha_anterior{
    transform: rotate(180deg);
}
/* comentarios */
.comentarios{
    margin-top: 10px;
}
.comentarios article{
    background-color: #EEE;
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: left;
    box-shadow: 1px 1px 2px 2px rgba(100,150,200,0.3);
    margin-bottom: 5px;
}
.foto-mediana{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
}
.comentarios img{
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.comentarios .tiempo, .comentarios .user-name{
    display: inline-block;
    float: none !important;
}
.comentarios .cont-comentarios{
    margin-top: 0;
    padding: 0;
    text-align: left;
}
.comentarios h2{
    text-align: left;
    font-weight: 200;
    margin-left: 10%;
}
.nuevo-comentario{
    width: 80%;
    padding: 10px;
    margin: auto;
    margin-bottom:20px;
    background-color: #EEE;
}
.nuevo-comentario textarea{
    display: block;
    width: 70%;
    min-height: 100px;
    margin: auto;
    padding: 10px;
}
/* nueva entrada*/
.nueva-entrada{
    max-width: 600px;
    margin: auto;
    padding: 10px;
    padding-bottom: 40px;
    overflow: auto;
    border-bottom: 1px solid #eee;
}
.nueva-entrada img{
    float: left;
    margin-left: 20px;
}


.nueva-entrada .input-default, .nueva-entrada textarea{
    display: block;
    width: 80%;
    padding: 10px;
    margin: 10px auto;
}
.nueva-entrada textarea{
}
.nueva-entrada h1{
    font-size: 2em;
    font-weight: 200;
    color: #555;
}

/* aside */
aside.users-activos{
    width: 15%;
    float: right;
    color: white;
    overflow-y: auto;
    max-height: 400px;
    padding-bottom: 10px;
}
aside img{
    vertical-align: middle;
    width: 40px !important;
    height: 40px !important;
    box-shadow: 0px 0px 2px 2px rgba(50,255,50,0.5) !important;
}
aside h1{
    font-weight: 100;
    text-align: center;
    font-size: 1.5em;
}
aside span{
    vertical-align: middle;
    margin-left: 10px;
}
aside ul{
    padding: 0;
    margin: 0;
}
aside li{
    margin-top: 10px;
    padding: 5px 20px;
}

/****************** footer ***************/
footer.pie{
    z-index: 100;
    clear: both;
    border-top: 1px solid #EEE;
    color: white;
    padding: 20px;
    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
footer.pie ul{
    text-align: center;
}
footer.pie li{
    list-style: none;
    display: inline-block;
    margin: 0px 30px;
}
footer.pie p{
    text-align: center;
    line-height: 1.5em;
}
footer.pie strong{
    font-size: 1.1em;
    font-weight: 800;
    font-family: monospace;
}
footer.pie a{
    color: white;
    text-decoration: none;
}
.icono-login{
    display: none;
}

.icono-login img{
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
}
.icono-login label{
	display: block;
	padding: 5px;
	border-radius: 2px;
	color: white;
	font-weight: bold;
    cursor: pointer;
}
#toggle:checked ~ .login-emergente {
    display: block;
    opacity: 1;
    visibility: 0;
}
#toggle, #toggle-user {
    position: absolute;
	top: -9999px;
	left: -9999px;
    cursor: pointer;
}
#toggle-user:checked ~ .user-emergente{
    display: block;
    opacity: 1;
    visibility: 0;
}

.login-emergente, .user-emergente{
    position: absolute;
    left:0;
    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    max-width: 100%;
    padding:0;
    padding: 30px 0;
    top:70px;
    opacity: 0;
    visibility: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.login-emergente li{
    width: 100%;
}
.login-emergente input{
    width: 80%;
    padding: 8px 10px;
    margin: auto;
}
.active{
    font-weight: bold;
}
.foto-completa{
    max-width: 300px;
    max-height: 300px;
}
.informacion input{
    padding: 5px 10px;
    color: #999;
    outline:none;
    background-color:transparent;
    border:0;
    border-bottom: 1px solid salmon;
    width: 300px;
}

/* Biografía */
.biografia, .informacion{
    float: left;
    width: 80%;
    overflow: auto;
    background-color: #AAA;
    padding-bottom: 50px;
    text-align: center;
    font-size: 1.2em;
    color: #555;
}
.biografia strong{
    color: black;
}
.biografia article, .informacion article{
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
    width: 80%;
    background-color: white;
    margin:auto;
    padding: 20px;
    margin-top: 20px;
}
.biografia h1, .informacion h1{
    font-size: 1.5em;
    color: salmon;
    font-weight: 200;
}
/* fotos */
.cont-fotos{
    float: left;
    width: 80%;
    overflow: auto;
    background-color: #AAA;
    padding: 20px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 1.2em;
    color: #555;
    text-align: center;
}
.cont-fotos h1{
    font-size: 1.5em;
    font-weight: 200;
}
.fotos{
    overflow: auto;
    padding: 20px;
    margin: auto;
    display: inline-block;
}
.fotos img{
    float: left;
    max-width: 300px;
    margin-left: 20px;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
}
.message{
    margin:0;
    padding: 20px;
    font-size: 1.2em;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,.2);
}
.message-error{
    background-color:lightcoral;
    color: darkred;
}
.message-success{
    background-color: #8DC26F;
    color: forestgreen;
}


@media screen and (max-width: 640px) {
    .sec-portada{
        display: block;
        width: 100%;
        min-width: 100%;
    }
    .sec-portada:nth-child(2){
        margin-top: 10px;
        padding-bottom: 20px;
    }
    header h1{
        font-size: 20px;
    }
}
@media screen and (max-width: 840px){
    .error-login {
        margin:auto;
        text-align: center;
    }
    .form-login{
        display: none;
    }
    .icono-login{
        display: inline-block;
        vertical-align: middle;
    }
    .icono-login img, .icono-login span{
        display: inline-block;
    }
    .icono-login img{
        width: 30px;
        height: 30px;
    }
    .user{
        display: none;
    }
    .user-small{
        display: inline-block;
        vertical-align: middle;
    }
    .user-small a{
        color: white;
        text-decoration: none;
    }
    .user-small li{
        width: 100%;
    }
    header > section{
        width: 32% !important;
        max-width: 32% !important;
        min-width: 32% !important;
    }
    header img{
        display: block;
        width: 50%;
        height: 50%;
        margin:auto;
    }
}
